<h3 align='center'>Valera Online</h3>

<form class='form-game-stats'>
  <h4>Параметры Валеры</h4>
  Health
  <%= form_with do |form| %>
  <%= form.label :health_value, value=@account.health %>
  <progress id='health_progress' class='form-game-progress-stats' max="100" value=<%= @account.health %>></progress>
  Tired
  <%= form.label :tired_value, value=@account.tired %>
  <progress class='form-game-progress-stats' max="100" value="<%= @account.tired %>"></progress>
  Mana
  <%= form.label :mana_value, value=@account.mana %>
  <progress class='form-game-progress-stats' max="100" value="<%= @account.mana %>"></progress>
  Funny
  <%= form.label :funny_value, value=@account.funny %>
  <progress class='form-game-progress-stats' max="100" value="<%= @account.funny %>"></progress>
  Money
  <%= form.label :money_value, value=@account.money %>
  <% end %>
  <progress class='form-game-progress-stats' max="100" value="<%= @account.money %>"></progress>
</form>
<form class='form-game-buttons-action'>
  Actions
  <%= form_for @account do |form| %>
  <%= radio_button_tag 'theme', 'Go job', true %> Plain
  <br><%= radio_button_tag 'theme', 'Go sleep' %> Desert
  <br><%= radio_button_tag 'theme', 'Go bar' %> Green
  <br><%= radio_button_tag 'theme', 'Go work' %> Corporate
  <br><%= radio_button_tag 'theme', 'Go chill' %> Funky
  <%= form.submit value: "Submit" %>
  <% end %>
</form>
<%= link_to :action => 'on_click_button_exit' do %>
  <button class='game-button-exit'>Exit</button>
<% end %>
