<h3 align='center'>Valera Online</h3>

<form class='form-game-stats'>
  <h4>Параметры Валеры</h4>
  Здоровье
  <%= form_for :stats do |form| %>
  <%= form.label :health_value, value=@health %>
  <progress id='health_progress' class='form-game-progress-stats' max="100" value=<%= @health %>></progress>
  <br>Усталость
  <%= form.label :tired_value, value=@tired %>
  <progress class='form-game-progress-stats' max="100" value="<%= @tired %>"></progress>
  <br>Мана
  <%= form.label :mana_value, value=@mana %>
  <progress class='form-game-progress-stats' max="100" value="<%= @mana %>"></progress>
  <br>Счастье
  <%= form.label :funny_value, value=@funny %>
  <progress class='form-game-progress-stats' max="100" value="<%= @funny %>"></progress>
  <br>Деньги
  <%= form.label :money_value, value=@money %>
  <% end %>
  <progress class='form-game-progress-stats' max="100" value="<%= @money %>"></progress>
</form>

<form class='form-game-buttons-action'>
  <h4>Действия</h4>
  <%= form_with method: :get do |form| %>
  <%= form.button :method=> "someButton"%>
  <%= form.button "Go chill"%>
  <%= form.button "Go sleep"%>
  <%= form.button "Go drink"%>
  <%= form.button "Go walk"%>
  <% end %>
</form>
<%= link_to :action => 'on_click_button_exit' do %>
  <button class='game-button-exit'>Exit</button>
<% end %>
