<div align="center">
  <div align="center" style="max-width: 1000px;">
    <table>
    <tbody>
      <tr>
        <td width="100%"></td>
        <% if !@is_authorized %>
          <td nowrap>
            <%= link_to :action => 'on_click_button_login' do %>
              <button>Log In</button>
            <% end %>
          </td>
          <td nowrap>
            <%= link_to :action => 'on_click_button_signup' do %>
              <button>Sign Up</button>
            <% end %>
          </td>
        <% else %>
          <td nowrap>
            <%= form_for :stats do |form| %>
              <%= link_to :action => 'on_click_profile' do %>
                <%= form.label :id_user, value=@id_user %>
              <% end %>
              <label>&nbsp;</label>
            <% end %>
          </td>
          <td><%= button_to 'Exit', 'log_out' %></td>
        <% end %>
      </tr>
    </tbody>
    
    <table>
    <tbody>
      <tr>
        <td><h3 align='center'>Balepa Online</h3></td>
      </tr>
      <tr>
        <td align="center">
          <%= button_to 'Play', 'play_btn', :disabled => !@is_authorized %>
        </td>
      </tr>
      <tr>
        <td align="center">
          <%#= button_to 'Load', 'load_btn', :disabled => !@is_authorized %>
        </td>
      </tr>
    </tbody>
  </div>
</div>
